<script lang="ts">
    import {io} from "$lib/realtime"
    import {onMount} from "svelte";

    let textField = ''
    let userName = ''
    let messages = []

    onMount(() => {
        io.on('message', message => {
            messages = [...messages, message]
        })
        io.on('name', name => {
            userName = name
        })
    })

    function sendMessage() {
        const message = textField.trim()
        if (!message) return

        textField = ''
        io.emit('message', message)
    }
</script>

<div>
    <div>

        <header>
            <span>My Chat App</span>
            <span>{userName}</span>
        </header>

        <div>
            {#each messages as message}
                <div>
                    <span>
                        <b>{message.from}</b>
                        <i>{message.time}</i>
                    </span>
                    {message.message}
                </div>
            {/each}
        </div>

        <form on:submit|preventDefault={sendMessage}>
            <input type="text" bind:value={textField}>
            <button type="submit">Send</button>
        </form>

    </div>
</div>
